@using MultilanguageSupport.Controllers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<HomeController> HtmlLocalizer 
    @*resx string içeriklerindeki HTML takılarına destek için kullanılan servis*@
@inject IViewLocalizer ViewLocalizer 
    @* View'ların için ayrı resource dosyaları kullandırabiliriz. Resources/Views altına bakın *@

<div class="text-center">
    <h1 class="display-4">@ViewData["PageTitle"]</h1>
    @*<p>@ViewData["PageDescription"]</p>*@
    <p>@HtmlLocalizer["page.description"]</p>
    @*
        İstersek içinde HTML tag barındıran string değerleri IHtmlLocalizer arayüzü üstünden kullanıma alabiliriz.
        Bunu kullanabilmek için View Injection tekniğinden yararlandığımıza dikkat edelim.
    *@
    <p>
        @ViewLocalizer["view.contact.text"]
    </p>
</div>
