@model SmoothValidation.Models.Player

@{
    ViewData["Title"] = "Create a new Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Add Customer</h3>
<hr />

<form asp-action="Create" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Takma adın ne olacak?</label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>E-Posta Adresin</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Güncel Seviyen</label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Yaşın</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Cep Telefonun</label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Hadi Kaydolalım" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>